@model IEnumerable<Tackakom.Model.EventCategory>

@{
    ViewBag.Title = "Index";
}

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->


<div id="event-list">

@foreach (var item in Model) {
<article class="event">
<table>
     <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <!--<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>-->
    </tr>
    </table>
    </article>
}

</div>


@section Menu {
		<div class="button">
		<img src="../../Content/Slike/Button-Add-icon.png" />
        <img src="../../Content/Slike/Button-Delete-icon.png" />
        <img src="../../Content/Slike/Button-Edit-icon.png" />
		</div>
}
@section Footer {
	<div id="social">
	<p>SOCIAAAAL!</p>
	</div>
}