@model IEnumerable<Tackakom.Model.EventCategory>
@using Tackakom.UserInterface.Helpers
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Početna";
}

<h2>Kategorije događaja</h2>

<p>
    @Html.ActionLink("Kreiraj novi", "Create")
</p>
<table>
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Opis
        </th>
        <th>
            Ikona
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string url = string.Format(@"/EventCategories/Details/" + item.Id);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.Image(item.Id, item.Icon, url, item.Title)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljni pregled", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
